/* general styles -- START */
* {
  margin: 0px;
  box-sizing: border-box;
}
body {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
}

h2, h3 {
  font-family: sans-serif;
  font-weight: lighter;
  margin-left: 10px;
}

h1 {
  font-weight: lighter;
  color: white;
  margin-left: 10px;
}

a {
  text-decoration: none;
  color: #463f3a;
}

a:hover {
  color: white;
}
.section-header {
  text-align: left;
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* general styles -- END */

/* nav & header styles -- START */
.header {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  min-height: 75px;
  background-color: #e0afa0;
  align-items: center;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  align-items: left;
  
}

.list-item {
  margin: 0px 20px;
}

.navActive {
  color: white;
}
/* nav styles -- END */

/* footer styles -- START */
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #bcb8b1;
  color: #463f3a;
}

.footer-list li {
  font-size: 14px;
  font-weight: bold;
  padding: 0px 20px;
  color: white;
}

.footer a:hover {
  color: white;
}
/* footer styles -- END */

/* about me styles -- START */
.me-pic {
  margin: 10px;
}

.about-text {
  margin-left: 10px;
}

.joke {
  font-style: italic;
}
/* about me styles -- END */

/* contact page styling -- START */
form {
  margin-left: 10px;
}
label {
  display: block;
  width: 50%;
  text-align: left;
}

.message-form-group {
  vertical-align: top;
}

input {
  width: 50%;
  font-size: 12pt;
  margin: 5px 0px;
  font-family: sans-serif;
}

textarea {
  width: 50%;
  margin: 5px 0px;
  font-size: 12pt;
  font-family: sans-serif;
}

button {
  background-color: #e0afa0;
  color: white;
  border-radius: 3px;
  border-style: none;
  width: 50%;
  height: 30px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: lighter;
  font-size: 12pt;
}
/* contact page styling -- END */

/* project page styling -- START */
.project-wrapper {
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  margin-left: 10px;
}

.project-item {
  width: 40%;
  margin-right: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  min-height: 300px;
  text-align: center;
  border: solid;
  border-color: #463f3a;
  border-width: 2px;
}

.project-item a {
  color: white;
}

.project-item a:hover {
  color: #463f3a;
}

.project-header {
  background-color: #bcb8b1;
  padding-top: 4px;
}

.project-title {
  font-size: 18px;
}

.project-gh {
  font-size: 14px;
}

.project-tech {
 background-color: #bcb8b1;;
 margin: 0;
 color: white;
 font-size: 14px;
 padding-bottom: 4px;
 border-bottom: solid;
 border-width: 1px;
 border-color: #463f3a;
}

.budget-tracker {
  background-image: url("./assets/proj-images/budget-tracker.png");
  background-size: cover;
}

.campgrounds-inc {
  background-image: url("./assets/proj-images/campgrounds-inc.png");
  background-size: cover;
}

.tech-blog {
  background-image: url("./assets/proj-images/tech-blog.png");
  background-size: cover;
}

.makers-corner {
  background-image: url("./assets/proj-images/makers-corner.png");
  background-size: cover;
}

.find-my-munchies {
  background-image: url("./assets/proj-images/find-my-munchies.png");
  background-size: cover;
}

.workday-scheduler {
  background-image: url("./assets/proj-images/workday-scheduler.png");
  background-size: cover;
}
/* project page styling -- END */

/* resume page -- START */
.res-link{
  margin-left: 10px;
  margin-bottom: 20px;
}
.res-link a {
  color: #8a817c;
}

.res-link a:hover{
  color: #e0afa0;
}

.prof-list{
  margin-bottom: 20px;
}
/* resume page -- END */